h1, h2{
	text-align: center;
}
#menu{
	background-color: rgba(190,190,190,1);
	overflow: hidden;
}
#menu li{
	width: 25%;
	float: left;
	list-style: none;
	text-align: center;
}
#menu li a{
	text-decoration: none;
	color: rgb(20,20,20);
}
#errores h1{
	color: red;
}
form{
	border: 1px solid black;
}
#posts div{
	border: 1px solid black;
	margin-bottom: 25px; 
}
.post{
	border: 2px solid black;
	margin-top: 25px;
}
#title{
	background-color: rgba(70,170,70,0.5);
	text-align: center;
}
#brief{
	background-color: rgba(210,120,120,0.5);
}
#content{
	background-color: rgba(170,170,70,0.5);
}
#comments{
	background-color: rgba(170,210,210,0.5);
}
